<!DOCTYPE html>
<html>
  <head>
    <title>Receipt App</title>

    <link href="/static/css/daisy.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/tailwind.min.js"></script>
  </head>
  <body class="bg-gray-200">
    <div>
      <div class="flex justify-center items-center h-screen">
        {% if session['access_token'] %}
        <div class="px-4">
          <div class="card w-96 bg-base-200 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">Search Receipt</h2>
              <p>Please search for invoice number</p>
              <div class="card-actions justify-end">
                <form action="/invoice" method="POST">

                  {% if invoice_data %}
                  <input
                  type="text"
                  placeholder={{invoice_data["DocNumber"]}}
                  name="invoice_number"
                  class="input input-bordered w-full max-w-xs"
                />
                  <button class="btn btn-primary mt-2">Print</button>
                  {% else %}
                  <input
                  type="text"
                  placeholder="Type here"
                  name="invoice_number"
                  class="input input-bordered w-full max-w-xs"
                />
                  <button class="btn btn-primary mt-2">Search</button>
                  {% endif %}                 
                </form>
              </div>

            </div>          
          </div>
        </div>
        <!-- <div class='top-10 absolute'>
          {% if invoice_data %}
          <p>Data</p>
          {% endif %}
        </div> -->

        <button class="btn absolute top-4 right-4" onclick="my_modal_1.showModal()">Sign out</button>
        <dialog id="my_modal_1" class="modal">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Sign out</h3>
            <p class="py-4">Are your sure you want to sign out?</p>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-warning" onclick="location.href='/logout'">Sign out</button>
                <button class="btn" onclick="my_modal_1.close()">Cancel</button>
              </form>
            </div>
          </div>
        </dialog>

        {% else %}
        <button class="btn" onclick="location.href='/login'">Sign In</button>
        {% endif %}
      </div>
    </div>
  </body>
</html>
